{% extends "base.html.twig" %}

{% form_theme formView _self %}

{% block title %}
	Création d'un produit
{% endblock %}

{% block body %}
<div class="container">
	<h1>Création d'un produit</h1>

	{{ form_start(formView) }}
	{# pour gérer les erreurs d'affichage du formulaire #}
	{{ form_errors(formView) }}

	<div class="row">

		<div class="col">

				{{ form_row(formView.name) }}
				{{ form_row(formView.price) }}
				{{ form_row(formView.mainPicture) }}

		</div>

			<div class="col"> 
				{{ form_row(formView.category) }}
				{{ form_row(formView.shortDescription) }}
			</div>

	</div>

			<button type="submit" class="bnt btn-primary mt-2"> Créer le produit</button>
		{{ form_end(formView) }}
	</div>
{% endblock %}

