{% extends "base.html.twig" %}

{% block title %}
    mes commandes
{% endblock %}

{% block body %}
    <h3>Mes commandes</h3>
    <table class="table">
    <thead>
        <tr>
            <th>N° de commande</th>
            <th>Adresse de livraison</th>
            <th>Date de commande</th>
            <th>produits (prix unitaire)</th>
            <th>Total</th>
        </tr>
    </thead>
    <tbody>
    {% for purchase in purchases %}
        <tr>
            <td>{{purchase.id}}</td>
            <td>{{purchase.address}} <br> {{purchase.postalCode}} {{purchase.city}}</td>
            <td>{{ purchase.purchasedAt | date('d/m/Y H:i')}}</td>
            <td>
                <ul>
                    {% for item in purchase.purchaseItems %}
                    <li>{{ item.quantity}} x {{ item.productName }}  ({{ item.productPrice / 100}}€)  </li>
                    {% endfor %}
                </ul>
            </td>
            <td>{{purchase.total / 100}} €</td>
        </tr>
    {% endfor %}
    </tbody>
    </table>
{% endblock %}