<!DOCTYPE html>
<html lang="fr">
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Salut</title>
		<h1>Hello {{prenom}} !</h1>
		{# <h2>Exercice ages</h2>
				<p>
					{% for age in ages %}
						{% if age >17 %}
							Vous avez {{age}} ans Vous êtes adulte<br>
						{% else %}
							Vous avez {{age}} ans Vous êtes mineur.e<br>
						{% endif %}
					{% endfor %}
		
				</p> #}

		{# <p>Vous avez {{age}} ans</p>
			<p>
				{% if age>18 %}
					Vous êtes un adulte
				{% else %}
					file dans ta chambre
				{% endif %}
			</p>
	
			<ul>
				{% for i in 1..10 %}
					<li>boucle n° {{i}}</li>
				{% endfor %}
			</ul>
			<ul>
				{% for personne in prenoms %}
					<li>{{ personne | upper }}</li>
					{% endfor%}
				</ul> #}
		<p>Mon formateur s'appelle
			{{formateur.prenom}}
			{{formateur.nom}}
			et il a
			{{formateur.age}}
			ans
		</p>
	</head>
	<body></body>
</html></head></html></head></html>
