{% extends "base.html.twig "%}

{% block title %}
	Home
{% endblock %}
{% block body %}

	<h1>Nos produits phares!</h1>
	<div
		class="row">
		{% for p in products %}
			<div class="col">
				<div class="card">
					<img src="{{ p.mainPicture }}" class="img-fluid" alt="image du produit">
					<div class="card-body">
						<h4 class="card-title">{{ p.name }}
							<br>{{ p.price / 100 }}
							€</h4>
						<span class="badge badge-info">{{ p.category.name }}</span>
						<p class="card-text">{{ p.shortDescription }}</p>
						<a href="{{ path('product_show', { 'category_slug': p.category.slug, 'slug': p.slug })}}" class="btn btn-primary btn-sm">Détails</a>
						<a href="#" class="btn btn-success btn-sm">ajouter</a>
					</div>
				</div>
			</div>
		{% endfor %}
	</div>
	<hr>
	<h2>Un service irréprochable</h2>
	<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates explicabo, cumque nihil quaerat culpa deserunt repudiandae veritatis sint amet omnis similique perferendis laudantium voluptatem placeat. Repellendus, reiciendis quisquam! Ex, eveniet!</p>
	<div class="row">
		{% include("shared/_assurance.html.twig") with {'color':'primary','icone':'fas fa-truck', 'text':'lorem ipsum dolor sit amet with with syntaxte and template inclusion of partial'} %}

		{% include("shared/_assurance.html.twig") with {'color':'success','icone':'fas fa-check', 'text':'lorem ipsum dolor sit amet with with syntaxte and template inclusion of partial'} %}

		{% include("shared/_assurance.html.twig") with {'color':'warning','icone':'fas fa-lock', 'text':'lorem ipsum dolor sit amet with with syntaxte and template inclusion of partial'} %}
	</div>

{% endblock %}
